<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Блог{% endblock %}</title>
    <link href="\static\css\bootstrap.css" rel="stylesheet">
    <script defer src="\static\js\bootstrap.bundle.js"></script>
  <body>
    <div class="container-fluid-home text-center">
        
        <div class="container-sm text-center bg-primary-main-block">
          <div class="row">

            <div class="col-1 bg-primary-top-line"></div>
            
            <div class="col-10 mb-5">
              <div class="container">
                
                <div class="container-sm-page_title text-center text-title bg-title rounded-5 mt-4 mb-4 p-2">
                  {% block page_title %}<h1>Блог</h1>{% endblock %}
                </div>
  
                {% block content %}{% endblock %}

              </div>
            </div>

            <div class="col-1 bg-primary-top-line"></div>
  
          </div>
        </div>

        <div class="fixed-bottom">
          <div class="bg-bottom">
              {% block bottom %}{% endblock %}
          </div>
        </div>
    
    </div>
    
  </body>
</html>