{% extends 'catalog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<img height="250px" src="{% if post.preview %}{{ post.preview.url }}{% else %}/media/images/noimage.png{% endif %}" alt="No image">
<br>
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>{{ post.created_at }}</p>
<p>Просмотры: {{ post.views }}</p>
{% if user.is_authenticated %}
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <a href="{% url 'blogs:post_edit' post.pk %}"  type="button" class="btn btn-outline-primary">Редактировать</a>
    <a href="{% url 'blogs:post_delete' post.pk %}" type="button" class="btn btn-outline-danger">Удалить</a>
</div>
{% endif %}
{% endblock %}