{% extends 'blog/base.html' %}

{% block title %}
    Пост
{% endblock %}

{% block page_title %}
  <h3 class=" text-white">{{ post.title }}</h3>
{% endblock %}

{% block content %}
  <div class="container vh-100">
    <div class="card rounded-3 bg-dark text-white">
      
      <img src="/media/{{ post.preview }}" class="rounded-4 p-1" alt="/media/not_found.png">
            
      <div class="card-body mt-2 p-3 rounded-3">
        <p>{{ post.content }}</p>
      </div>

      <div class="d-grid text-post-title p-3 ms-5 me-5">
        <div class="d-grid gap-2">
          <a href="{% url 'blog:update' post.pk %}" class="btn btn-info">Обновить содержание поста</a>
        </div>
      </div>

      <div class="d-grid text-post-title p-3 ms-5 me-5 mb-2">
        <div class="d-grid gap-2">
          <a href="{% url 'blog:delite' post.pk %}" class="btn btn-warning">Удалить пост полностью</a>
        </div>
      </div>

    </div>
  </div>

{% endblock %}


{% block bottom %}
  <div class="row p-2 mt-2">
    <div class="col-3"></div>

    <div class="col-6">
      <div class="row p-1">
        <div class="col-4 mt-1">
          <p class="text-white">Создан {{ post.creation_date | date:"d M Y" }}</p>
        </div>
    
        <div class="col-4 text-post-title">
          <div class="d-grid gap-2">
            <a href="{% url 'blog:home' %}" class="btn btn-success">На главную...</a>
          </div>
        </div>
    
        <div class="col-4 mt-1">
          <p class="text-white">Пост просмотрели {{ post.number_views }} раз</p>
        </div>
    
      </div>
    </div>

    <div class="col-3"></div>

  </div>
{% endblock %}