<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Заказ товаров{% endblock %}</title>
    <link href="\static\css\bootstrap.css" rel="stylesheet">
    <script defer src="\static\js\bootstrap.bundle.js"></script>
  <body>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-2 vh-100 bg-dark text-white p-2">
            
                <div class="d-flex align-items-center ms-3">
                  <img src="\static\images\bootstrap-logo-white.svg" alt="https://getbootstrap.su/docs/5.0/assets/brand/bootstrap-logo-white.svg" width="40" height="32" class="d-inline-block">
                  <div class="flex-grow-0"><h2 class="mt-1 ms-4">Меню</h2></div>
                </div>

                <div class="col ms-1 mb-3 me-2"><hr></div>

                <div class="d-grid">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="../home/">
                            <div class="d-flex text-bg-primary rounded-3">
                                <img src="\static\images\home_9.png" alt="" width="24" height="20" class="d-inline-block mt-2 ms-2">
                                <div class="flex-grow-0 ms-2 mt-2"><h5>Главная</h5></div>
                            </div>
                          </a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="../catalog/">
                            <div class="d-flex bg-dark text-white ms-2">
                                <img src="\static\images\699033-icon-45-note-list-512.webp" alt="" width="26" height="24" class="d-inline-block mt-1">
                                <div class="flex-grow-0 ms-2 mt-1"><p>Категории</p></div>
                            </div>
                            
                          </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="../orders/">
                              <div class="d-flex bg-dark text-white ms-2">
                                  <img src="\static\images\cart-icon-png-white-16.png" alt="" width="25" height="21" class="d-inline-block mt-1">
                                  <div class="flex-grow-0 ms-2"><p>Заказы</p></div>
                              </div>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="../contacts/">
                              <div class="d-flex bg-dark text-white ms-3">
                                  <img src="\static\images\contact-book-1024.webp" alt="" width="20" height="22" class="d-inline-block mt-1">
                                  <div class="flex-grow-0 mt-1 ms-2"><p>Контакты</p></div>
                              </div>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="col-10">

                <div class="text-center p-4 mt-5">
                  {% block page_title %}Заказ товаров{% endblock %}
                </div>

                {% block content %}{% endblock %}

            </div>

        </div>

        <div class="fixed-bottom">
          
            <div class="col-2 bg-dark text-white p-2">
  
              <div class="col ms-1 mb-3 me-2"><hr></div>
              
              <div class="d-flex align-items-center ms-3">
                <img src="\static\images\icon_man.png" alt="./data/icon_man.png" width="30" height="30" class="d-inline-block rounded-circle">
                          
                <div class="flex-grow-0 text-white">
                  <select class="form-select bg-dark text-white" style="--bs-border-color: #161719" aria-label="Пользователь">
                      <option selected>Вход</option>
                      <option value="1">Профиль</option>
                      <option value="1">Выход</option>
                    </select>
                </div>
              </div>
  
            </div>
              
        </div>
    </div>
    
  </body>
</html>