<!-- catalog\templates\catalog\base.html -->
{% extends 'catalog/base.html' %}

{% block title %}
  Контакты
{% endblock %}

{% block page_title %}
  <h1>Контакты</h1>
{% endblock %}

{% block content %}
    
  <div class="row p-5">
                      
    <div class="col-sm-6 p-5">
      <div class="card rounded-3 ms-2 me-2">
          <form method="post" action="">
            {% csrf_token %}
            <div class="p-2 ms-1 mb-1">
              {{ form.as_p }}
            </div>
            
            <div class="p-2 ms-1 mb-1">
              <button type="submit" class="btn btn-outline-secondary">Отправить</button>
            </div>
          </form>

      </div>
    </div>
    
    <div class="col-sm-6 p-5">
      <div class="p-1">
        
        <h2>Наши контакты</h2>

        <p>Для обоснования преимуществ товаров нередко используются сравнения.

          <br>Вы можете предоставить на обозрение клиента несколько товаров одной категории и рассказать об особенностях каждого из них, сравнить технические характеристики и внешние данные.
          
          Такой механизм часто используют в интернет-магазинах бытовой техники и электроники.<br>
          <br>Он помогает покупателю в деталях представить образ товара и выбрать наиболее оптимальный для себя вариант.
          <br>
          
          Пример: на картинке ниже Вы можете увидеть наглядный пример. Представим, что покупатель рассматривает микроволновку, в его голове уже сформировались определенные требования, а сравнения помогают выбрать лучший вариант.
        </p>
        
      </div>
    </div>

  </div>
  
{% endblock %}
