{% extends 'catalog/base.html' %}
{% block title %}контакты{% endblock %}
{% block content %}
<h1>контакты</h1>
                <h3>Наши контакты</h3>
                {% for contact in contacts %}
                      <h5>{{ contact.name }} {{ contact.last_name }}</h5>
                        <p>email: {{ contact.email }}</p>
                        <p>github: <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ contact.git }}" target="_blank">{{ contact.git }}</a>
                  {% empty %}
                    нет объектов для отображения
                  {% endfor %}
{% endblock %}