<!-- catalog\templates\catalog\base.html -->
{% extends 'catalog/base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block page_title %}
  <h1>Главная</h1>
  <h4>Вы наxодитесь на сайте для продажи товаров</h4>
{% endblock %}

{% block content %}
  <div class="container-fluid text-center p-4">
    <div class="row row-cols-3">
      
      {% for product in products %}
        <div class="col">
            <div class="card rounded-3 mt-2 mb-3 ms-2 me-2">
                <div class="card-header">
                  {{ product.name }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ product.price }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <a href="{% url 'catalog:product' product.pk %}" class="btn btn-dark rounded-3">Купить</a>
                </div>
            </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
