{% extends 'catalog/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<h1>Главная</h1>
<text style="color:gray">Вы находитесь на сайте, предназначенном для продажи товаров</text>
<!--cards-->
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 30px 150px">
    {% for product in products_list %}
    <div class="col">
        <div class="card">
            <h5 class="card-header">{{ product.name }}</h5>
            <div class="card-body">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}/media/images/noimage.png{% endif %}" style="max-height: 100px" alt="Фото товара">
                <h2 class="card-title">{{ product.price }}</h2>
                <p class="card-text">{{ product.description|truncatechars:100|default:"Описание отсутствует" }}</p>
                <a href="{% url 'catalog:product_details' product.pk %}" class="btn btn-outline-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="/new_product" class="btn btn-outline-primary">+ Добавить товар</a>
{% endblock %}
{% block footer %}
<div style="position: absolute; bottom: 15px; width: 100vh">
    <div class="row">
        <div class="col">
            <div class="position-relative">
                <div class="position-absolute bottom-0 start-0">
                    <nav aria-label="...">
                        <ul class="pagination pagination-lg">
                            {% for page in page_obj.paginator.page_range %}
                            <li class="page-item" >
                                <a class="{% if page_obj.number == page %}active{% endif %} page-link" aria-current="page" href="?page={{ page }}">{{ page }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="position-absolute bottom-0 end-0">
                <font color="gray">Create by <a href="https://github.com/Arty525" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="blank">Andrey Egorov</a></font>
            </div>
        </div>
    </div>
</div>
{% endblock %}