{% extends 'catalog/base.html' %}
{% block title %}Добавление товара{% endblock %}
{% block content %}
{% if message %}
<h1>{{ message }}</h1>
<br>
<a href="{% url 'catalog:product_details' product.pk %}" type="button" class="btn btn-primary btn-lg">Перейти к товару</a>
{% else %}
<h1>Добавление нового товара</h1>
<br>
<div align="left">
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary" type="submit" value="Добавить">Добавить</button>
    </form>
</div>
{% endif %}
{% endblock %}